body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(207, 97, 97);
    color: white;
    border: none;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background: black;
    color: white;
}